body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
    text-align: center;
    background-color: rgb(232, 222, 204);

}

.header{
    color: rgb(177, 20, 62)
}


table {
    width: 90%;
    margin: auto;
    
}

td {
    text-align: center;
    background: rgb(196, 145, 164);
}

tbody td:not(td:first-of-type):hover {
  
    opacity: 0.9;
}

thead {
    color:rgb(177, 20, 62);
}